:root {
    --blue: #0273b2;
    --blue-subtle: #dff4ff;
    --board-fg: #3980a0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 1.1em;
    line-height: 1.4;
    color: #222222;
    margin: 2em auto;
}

canvas {
    display: block;
    margin: 0.5em auto;
}

section {
    max-width: calc(630px + 1.6em);
    margin: 0 auto;
    padding: 0 0.8em;
}

footer {
    max-width: calc(630px + 1.6em);
    margin: 1em auto;
    padding: 0 0.8em;
    color: #666666;
}

p strong {
    font-weight: 500;
}

ul {
    list-style-position: inside;
    margin: 0.4em 0;
    margin-left: 1em;
}

p {
    text-align: justify;
    margin-top: 0.8em;
}

h1, h3 {
    line-height: 1.2;
}

h3 {
    margin-top: 1em;
    font-weight: 600;
}

h1 + p, h3 + p {
    margin-top: 0.4em;
}

section h1 {
    font-size: 1.6em;
}

a {
    color: var(--blue);
    text-decoration-color: var(--blue-subtle);
}

a:hover {
    text-decoration-color: var(--blue);
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    padding: 0.4em 1em;
    border-radius: 3px;
    font-weight: 500;
}

#buttons {
    display: flex;
    margin-top: 1em;
}

#back-button, #reset-button {
    border: 1px solid #eeeeee;
    width: 5em;
    color: #222222;
}

#back-button:disabled, #reset-button:disabled {
    color: #bbbbbb;
}

#play-button {
    border: none;
    color: #222222;
    width: 100%;
    margin: 0 0.4em;
    font-weight: 500;
    border: 1px solid #eeeeee;
    background-color: #eeeeee88;
}

#play-button.active {
    color: var(--blue);
    background-color: #0273b222;
    border: 1px solid #0273b222;
}

#play-button.win-red {
    color: #ce5454;
    background-color: #ce545422;
    border: 1px solid #ce545422;
}

#play-button.win-yellow {
    color: #c5953b;
    background-color: #dfc35236;
    border: 1px solid #dfc35236;
}

.hidden {
    display: none;
}

.player-options {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.player-controls {
    display: flex;
    padding: 0.4em 0.4em 0.4em 0.8em;
    align-items: center;
}

.player-controls span {
    margin-right: auto;
    text-align: center;
}

.player-controls span strong {
    font-weight: 600;
}

.player-controls select {
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    margin-left: 0.2em;
    color: #222222;
    background-color: white;
}

.player-statistics {
    font-size: 0.8em;
    border-top: 1px solid #eeeeee;
    padding: 0.4em 1em 0.4em 1em;
}

.player-statistics strong {
    font-weight: 500;
}

.player-statistics div {
    display: flex;
    color: #555555;
    justify-content: space-between;
}

#player-red-current, #player-yellow-current {
    padding-right: 0.5em;
}

#player-red-total, #player-yellow-total {
    text-align: end;
    padding-left: 0.5em;
}