:root {
    --blue: #0273b2;
    --blue-subtle: #dff4ff;
    --orange: #da6512;
    --orange-subtle: #feeedb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 1.1em;
    line-height: 1.4;
    color: #222222;
    width: calc(630px + 1.6em);
    margin: 2em auto;
}

canvas {
    display: block;
    margin: 0.8em auto;
}

section {
    width: 630px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    margin: 0.8em 0;
    border-collapse: collapse;
    line-height: normal;
}

th, td {
    border: 1px solid #dddddd;
}

th {
    background-color: #f6f6f6;
    padding: 0.1em 0.5em;
    font-weight: 600;
}

td {
    padding: 0.1em 0.5em;
}

button {
    background: none;
    border: 1px solid #eeeeee;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    padding: 0.4em 1em;
    border-radius: 3px;
    font-weight: 500;
    display: inline-block;
}

#buttons {
    display: flex;
    margin-bottom: 0.8em;
}

#play-button {
    border: none;
    width: 100%;
    margin: 0 0.2em;
    text-align: left;
    font-weight: 500;
    background-color: #eeeeee;
}

.player-options {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-bottom: 0.8em;
}

.player-controls {
    display: flex;
    padding: 0.4em 0.4em 0.4em 0.8em;
    align-items: center;
}

.player-controls span {
    margin-right: auto;
    text-align: center;
}

.player-controls span strong {
    font-weight: 600;
}

.player-controls select {
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    margin-left: 0.2em;
}

.player-statistics {
    font-size: 0.8em;
    border-top: 1px solid #eeeeee;
    padding: 0.4em 1em 0.4em 1em;
}

.player-statistics strong {
    font-weight: 500;
}

.player-statistics div {
    display: flex;
    color: #555555;
    justify-content: space-between;
}

ul {
    list-style-position: inside;
    margin: 0.8em 0;
    margin-left: 1em;
}

p {
    text-align: justify;
    margin-top: 0.8em; 
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h2, h3 {
    margin-top: 1em;
    font-weight: 600;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 0.4em;
}

section h1 {
    font-size: 2em;
}

footer {
    color: #666666;
    margin-top: 1em;
    padding: 0 0.8em;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
