:root {
    --blue: #0273b2;
    --blue-subtle: #dff4ff;
    --fg-red: #c0392b;
    --fg-yellow-dark: #8d6b14;
    --fg-yellow-light: #c3a343;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
    color: #222222;
    margin: 2em auto;
}

canvas {
    display: block;
    margin: 0.5em auto;
    width: min(630px, 100vw);
    aspect-ratio: 7/6;
}

section {
    max-width: calc(630px + 1.6em);
    margin: 0 auto;
    padding: 0 0.8em;
}

footer {
    max-width: calc(630px + 1.6em);
    margin: 1em auto;
    padding: 0 0.8em;
    color: #666666;
}

p strong {
    font-weight: 500;
}

ul {
    list-style-position: inside;
    margin: 0.4em 0;
    margin-left: 1em;
}

p {
    text-align: justify;
    margin-top: 0.8em;
}

h1, h2 {
    line-height: 1.2;
}

h2 {
    margin-top: 1em;
    font-weight: 600;
}

h1 + p, h2 + p {
    margin-top: 0.4em;
}

h2 {
    font-size: 1.2em;
}

section h1 {
    font-size: 1.6em;
}

a {
    color: var(--blue);
    text-decoration-color: var(--blue-subtle);
}

a:hover {
    text-decoration-color: var(--blue);
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0.4em 1em;
    border-radius: 3px;
    font-weight: 500;
}

#buttons {
    display: flex;
    margin-top: 1em;
}

#button-back, #button-reset {
    border: 1px solid #eeeeee;
    width: 5em;
    color: #222222;
}

#button-back:disabled, #button-reset:disabled {
    color: #bbbbbb;
}

#button-play {
    border: none;
    color: #222222;
    width: 100%;
    margin: 0 0.4em;
    font-weight: 600;
    background-color: #f4f4f4;
    border: 1px solid #eeeeee;
}

#button-play.active {
    color: #005582;
    background-color: #eef7ff;
    border: 1px solid #cfe5ee;
}

#button-play.win-one {
    color: var(--fg-red);
    background-color: white;
}

#button-play.win-two {
    color: var(--fg-yellow-dark);
    background-color: white;
}

.fg-yellow {
    color: var(--fg-yellow-light);
}

.fg-red {
    color: var(--fg-red);
}

.hidden {
    display: none;
}

.player-bar {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.player-bar select {
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    margin-left: 0.2em;
    color: #222222;
    background-color: white;
}

.player-bar select[disabled] {
    opacity: 0;
}

.player-bar span strong {
    font-weight: 600;
}

#player-one-controls, #player-two-controls {
    display: flex;
    padding: 0.4em 0.4em 0.4em 0.8em;
    align-items: center;
}

#player-one-controls span, #player-two-controls span {
    margin-right: auto;
    text-align: center;
}

#player-one-stats, #player-two-stats {
    font-size: 0.8em;
    border-top: 1px solid #eeeeee;
    padding: 0.4em 1em 0.4em 1em;
}

#player-one-stats strong, #player-two-stats strong {
    font-weight: 500;
}

#player-one-stats div, #player-two-stats div {
    display: flex;
    color: #555555;
    justify-content: space-between;
}

.stat-current {
    padding-right: 0.5em;
}

.stat-total {
    text-align: end;
    padding-left: 0.5em;
}